.App{
    background-color: rgb(241, 202, 210);
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px auto 50px;
    gap: 1em;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";

}

.navbar{
    grid-area: header;
    background-color: rgb(237, 167, 237);
    text-align: center;
    color:aliceblue;
    font: 5em;
    padding: 10px;
    
}

.content-list{
    grid-area: main;
    background-color:  rgb(241, 190, 200);
    color:aliceblue;
    padding: 10px;
    border-radius: 10px;
}

.content-details{
    grid-area: aside;
    background-color:  rgb(241, 190, 200);
    color:aliceblue;
    padding: 10px;
    border-radius: 10px;
}

.footer{
    grid-area: footer;
    background-color: rgb(237, 167, 237);
    text-align: center;
    color:aliceblue;
    padding-top: 1em;
}

.button {
    background-color: #7171e1;
    border: none;
    color: white;
    border-radius: 6px;
    padding: 5px 15px;
    margin: 5px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 14px;
  }
  .button:hover{
    background-color: darkorchid;

  }

  .field{
    border-radius: 5px;
    border-color: #f2f2f2;
    background-color: #f2f2f2;
    color: darkgray;
    padding: 5px;
    margin-top: 12px;
  }

  li{
    list-style:none;
  }


  /*.logo {
    grid-area: logo;
    max-width: 100px;
    background-color: rgb(237, 167, 237);
  }*/