html{
    font: 16px/1.5 Verdana, Geneva, Tahoma, sans-serif;
    
}

h1{font-size: 3.0em;}
h2{font-size: 2.4em;}
h3{
    font-size: 0.8em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}
