.App{
    background-color: rgb(244, 171, 185);
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px auto 100px;
    gap: 1em;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";

}

header{
    grid-area: header;
    background-color: rgb(244, 171, 185);
    text-align: center;
    padding: 10px;
    
}

.content-list{
    grid-area: main;
    background-color: aliceblue;
    padding: 10px;
}

.content-details{
    grid-area: aside;
    background-color: rgb(162, 238, 241);
}

.footer{
    grid-area: footer;
    background-color: rgb(237, 167, 237);
    text-align: center;
    padding-top: 2em;
}